.container span{
    color: rgb(39, 212, 212);
    font-weight: bolder;
    font-size: 18px;
}
.container .main-head{
    color: rgb(72, 150, 153);
    word-spacing: 1px;
    letter-spacing: 1px;
}
.container .main-para{
    font-size: 26px;
    color: gray;
}
.emp-text{
    margin-top: 250px;
    margin-bottom: 250px;
}