.container h1{
    color: blue;
}
.container p{
    color: gray;
    font-size: 24px;
}
/* ************************* */
.emp-text{
    margin-top: 250px;
    margin-bottom: 250px;
}
.join-btn{
    width: 100%;
    height: 200px;
    background-image: linear-gradient(rgb(10, 10, 133), blue);
}
.container-fluid{
    color: white;
}
.main-txt{
    margin-top: 80px;
}
.main-btn{
    margin-top: 80px;
}